@media screen and (max-width: 430px) {
  body {
    background-image: url(../img/testecelu.svg);
    background-position: center top;
    background-size: cover;
  }
}

/* Media query para telas menores, como smartphones */
@media screen and (min-width: 431px) and (max-width: 767px) {
  body {
    background-image: url(../img/fundo-mobile.svg);
    background-position: center top;
    background-size: cover;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

/* Media query para tablets e telas médias */
@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    background-image: url(../img/fundo2.svg);
    background-position: center top;
    background-size: cover;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
}

/* Media query para telas maiores, como desktops */
@media screen and (min-width: 992px) {
  body {
    background-image: url(../img/fundo.svg);
    background-position: center top;
    background-size: cover;
  }
  p {
    font-size: 1rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.4rem;
  }
}
