@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

body {
  font-family: "Inter", sans-serif;
  background-color: #0f041c;
}

.text-blue {
  color: #3ddeed;
}

.text-blue:hover {
  color: #77e7f2;
  transition: 0.2s;
}

.text-violet {
  color: #bd00ff;
}

.bg-chumbo {
  background-color: #ffffff08;
}

.btn-blue {
  color: #000000;
  background-color: #3ddeed;
}

.btn-blue:hover {
  color: #000000;
  background-color: #77e7f2;
}

.btn-cinza {
  color: #3ddeed;
  background-color: #182627;
}

.btn-cinza:hover {
  color: #3ddeed;
  background-color: #2f3b3c;
}
